.slide {
	transition:         none;
	-webkit-transition: none;
	-moz-transition:    none;
	-o-transition:      none;
	-khtml-transition:  none;
	-ms-transition:     none;
	
	opacity: 0;
}

.slide-view-module .slide-before, .slide-view-module .slide-after {
	position: absolute;
	z-index: -1;
}
.slide-current {
	opacity: 1;
}
